for interface only
	ip = 
	returnPage = 
	sourceDir = 
	speJudgeDir = 
    parJudgeDir = 
	testdataDir = 
	errMsgDir = 
	judge = 
	interface.log = 

for both
	judgeFileDir = 
	errMsg = 
	result = 
	judge.config = 

for judge only
	runcode = 
	blacklist = 
	nthuoj.log = 
	c compile arg = -O2 -lm -std=c99
	cpp compile arg = -O2 -lm -std=c++11
	outputLimit = 32

